
.note{
    width:100%;
    height:auto;
    color:var(--text2);
    padding:5px;
    border-bottom:1px solid var(--glass);
    margin-bottom:10px;
}

#notification{
    flex-direction: column;
}

#notification .page_content{
    width:100%;
    height:calc(100vh - 220px);
}

@media only screen and (min-width:1000px){
    .note{
        border:0px;
        background-color:rgba(0, 0, 0, 0.148);
        border-radius:10px;
        margin-bottom: 5px;
        padding:10px;
    }
}
